<div class="wrapper">
  <div class="auth-container">
    <div class="holder">
      <img class="j" src="assets/logo.png" alt="Jeba">
      <h2>Registracija</h2>
    </div>
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <div class="email">
        <label for="username">Korisničko ime</label>
        <input id="username" name="username" type="text" [(ngModel)]="username" required
               (keydown.enter)="$event.preventDefault(); regEmail.focus()" />
      </div>

      <div class="email">
        <label for="email">Email</label>
        <input #regEmail id="email" name="email" type="email" [(ngModel)]="email" required
               (keydown.enter)="$event.preventDefault(); regPass.focus()" />
      </div>

      <div class="password">
        <label for="password">Lozinka</label>
        <input #regPass id="password" name="password" type="password" [(ngModel)]="password" required minlength="6"
               (keydown.enter)="$event.preventDefault(); regWeight.focus()" />
      </div>

      <div class="wh">
        <label for="weight">Težina (kg)</label>
        <input #regWeight id="weight" name="weight" appNumField keyboard="text" [(ngModel)]="weight" required
               (keydown.enter)="$event.preventDefault(); regHeight.focus()"/>
      </div>

      <div class="wh">
        <label for="height">Visina (cm)</label>
        <input #regHeight id="height" name="height" appNumField="integer" keyboard="text" [(ngModel)]="height" required/>
      </div>

      <button class="btn" type="submit" [disabled]="loading || !registerForm.valid">
        {{ loading ? 'Šaljem...' : 'Registruj se' }}
      </button>
    </form>

    <p class="registration">Već si dio Jebe? <a class="route" routerLink="/login">Uloguj se</a></p>
  </div>
</div>