<div class="wrapper">
  <div class="auth-container">
    <div class="holder">
      <h2>Registracija</h2>
      <img class="j" src="assets/j.jpg">
    </div>
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <div class="email">
        <label for="username">Korisničko ime</label>
        <input id="username" name="username" type="text" [(ngModel)]="username" required />
      </div>

      <div class="email">
        <label for="email">Email</label>
        <input id="email" name="email" type="email" [(ngModel)]="email" required />
      </div>

      <div class="password">
        <label for="password">Lozinka</label>
        <input id="password" name="password" type="password" [(ngModel)]="password" required minlength="6" />
      </div>

      <div class="wh">
        <label for="weight">Težina (kg)</label>
        <input id="weight" name="weight" type="number" [(ngModel)] = 'weight' required/>
      </div>

      <div class="wh">
        <label for="height">Visina (cm)</label>
        <input id="height" name="height" type="number" [(ngModel)] = 'height' required/>
      </div>

      <button class="btn" type="submit" [disabled]="loading || !registerForm.valid">
        {{ loading ? 'Šaljem...' : 'Registruj se' }}
      </button>
    </form>

    <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
    <p *ngIf="successMessage" style="color: green;">{{ successMessage }}</p>

    <p class="registration">Već si dio Jebe? <a class="route" routerLink="/login">Uloguj se</a></p>
  </div>
</div>